.table {
    max-width:1500px;
    min-width: 600px;
    text-align: center;
}
.table tr:nth-child(odd) {
    background-color: #FFC39D;
}
.table tr:nth-child(even) {
    background-color:#AADDFF;
}
.table td {
    height: 50px;
}
.table td:nth-child(odd) {
    background-color:#AAEB82;
}
.table th {
    background-color: #AAEB82;
}